<!DOCTYPE HTML>
<html manifest="">

<head th:insert="~{head}">
</head>

<body class="skin-black layout-top-nav sidebar-collapse"
	style="height: auto; min-height: 100%;">

	<div class="wrapper" style="height: auto; min-height: 100%;">

		<header class="main-header" th:insert="~{navbar}" ></header>

		<aside class="main-sidebar" th:insert="~{sidebar}"></aside>

		<div class="content-wrapper"
			style="position: relative; min-height: 600px;">

			<section class="content-header">
				<h1>
					Dashboard <small>Version 2.0</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				</ol>
			</section>

			<section class="content container-fluid">
				<div class="row">
			

		<div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <i class="fa fa-bullhorn"></i>

              <h3 class="box-title">Still in progress...</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="callout callout-success">
                <h4>Maybe some metrics and dashboards.</h4>
                <p>I still haven't thought much about what I should put here. Until then, please use the side menu.</p>
              </div>
            </div>
          </div>
        </div>

			
				
				</div>
			</section>
		</div>

		<aside class="control-sidebar control-sidebar-light"
			th:insert="~{controlsidebar}"></aside>
		<div class="control-sidebar-bg"></div>


		<!-- Main Footer -->

		<footer class="main-footer"
			style="height: 44px; padding: 0px 10px 0px 10px; background-color: #222d32;">

			<table id="tableFooter" style="width: 100%; cursor: pointer">
				<tr>
					<td>by Carlos Magno Abreu</td>

					<td style="width: 40px">Foo</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
				<tr>
					<td>magno.mabreu@gmail.com</td>
					<td style="width: 40px">Bar</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
			</table>
		</footer>


	</div>

	<!-- REQUIRED JS SCRIPTS -->
	<!-- jQuery 3 -->
	<script src="adminlte/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap 3.3.7 -->
	<script
		src="adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- SlimScroll -->
	<script
		src="adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="adminlte/bower_components/fastclick/lib/fastclick.js"></script>

	<!-- DataTables -->
	<script src="adminlte/datatables/datatables.min.js"></script>

	<!-- AdminLTE App -->
	<script src="adminlte/dist/js/adminlte.min.js"></script>

	<!-- Bootstrap slider -->
	<script src="adminlte/plugins/bootstrap-slider/bootstrap-slider.js"></script>

	<!-- iCheck -->
	<script src="adminlte/plugins/iCheck/icheck.min.js"></script>

	<!-- Select2 -->
	<script
		src="adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>

	<!-- FLOT CHARTS -->
	<script src="adminlte/bower_components/Flot/jquery.flot.js"></script>
	<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
	<script src="adminlte/bower_components/Flot/jquery.flot.resize.js"></script>
	<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
	<script src="adminlte/bower_components/Flot/jquery.flot.pie.js"></script>
	<!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
	<script src="adminlte/bower_components/Flot/jquery.flot.categories.js"></script>

	<script src="adminlte/sweetalert2.min.js"></script>

	<!-- Morris.js charts -->
	<script src="adminlte/bower_components/raphael/raphael.min.js"></script>
	<script src="adminlte/bower_components/morris.js/morris.min.js"></script>


	<!-- InputMask -->
	<script src="adminlte/plugins/input-mask/jquery.inputmask.js"></script>
	<script
		src="adminlte/plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<script
		src="adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script
		src="adminlte/plugins/input-mask/jquery.inputmask.numeric.extensions.js"></script>
	<script
		src="adminlte/plugins/input-mask/jquery.inputmask.phone.extensions.js"></script>
	<script
		src="adminlte/plugins/input-mask/jquery.inputmask.regex.extensions.js"></script>

	<!-- Bootstrap slider -->
	<script src="adminlte/plugins/bootstrap-slider/bootstrap-slider.js"></script>

	<script src="common/websocket/sockjs.min.js"></script>
	<script src="common/websocket/stomp.min.js"></script>
	<script src="common/script.js"></script>

</body>

</html>

