<!DOCTYPE HTML>
<html manifest="">

<head th:insert="~{head}">
</head>

<body class="skin-black layout-top-nav sidebar-collapse"
	style="height: auto; min-height: 100%;">

	<div class="wrapper" style="height: auto; min-height: 100%;">

        <div class="modal modal-danger fade" id="modal-danger">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Save Data and Create Certificate Authority?</h4>
              </div>
              <div class="modal-body">
                <p>Once you save this data, the CA certificate and keys will be created and you will no longer be able to change them.</p>
                <p>Are you sure?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button id="updateOrgName" type="button" class="btn btn-outline">Save changes</button>
              </div>
            </div>
          </div>
        </div>

		<header class="main-header" th:insert="~{navbar}"></header>

		<aside class="main-sidebar" th:insert="~{sidebar}"></aside>

		<div class="content-wrapper"
			style="position: relative; min-height: 600px;">

			<section class="content-header">
				<h1>
					Local Node | <small>The Local Stack</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				</ol>
			</section>

			<section class="content container-fluid">
				<div class="row">
					<section class="col-lg-3">

						<div th:if="${not stackIsLocked}" class="box">
							<div class="box-header ui-sortable-handle">
								<i class="fa fa-gears"></i>
								<h3 class="box-title">Supernode Configuration</h3>
								<div class="pull-right box-tools">
									&nbsp;
								</div>
							</div>
							<div class="box-body">
								<div class="form-group">
									<input type="text" class="form-control" id="orgName"
										placeholder="Organization Name">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="nodeName"
										placeholder="Node Name">
								</div>			
								<div class="form-group">
									<input type="text" class="form-control" id="ipAddress"
										placeholder="External IP address">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="hostName"
										placeholder="External Host Name">
								</div>
							</div>
							<div class="box-footer clearfix">
								<button type="button" class="pull-right btn btn-default" data-toggle="modal" data-target="#modal-danger" >
									Save
								</button>
							</div>
						</div>
						
						<div th:if="${stackIsLocked}" class="box">
							<div class="box-header ui-sortable-handle">
								<i class="fa fa-gears"></i>
								<h3 class="box-title">Supernode Configuration</h3>
								<div class="pull-right box-tools">&nbsp;</div>
							</div>
							<div class="box-body">
								<div class="form-group">
									<p>Organization Name</p>
									<spam style="font-family:Courier New"
										th:text="${orgName}"></spam>
								</div>
								<div class="form-group">
									<p>Node Name</p>
									<spam style="font-family:Courier New"
										th:text="${nodeName}"></spam>
								</div>								
								<div class="form-group">
									<p>Server IP Address</p>
									<spam style="font-family:Courier New"
										th:text="${serverIpAddress}"></spam>
								</div>
								<div class="form-group">
									<p>Server Host Name</p>
									<spam style="font-family:Courier New"
										th:text="${serverHostName}"></spam>
								</div>								
							</div>
							
							<div class="box-footer clearfix">
								<button type="button" class="pull-right btn btn-default margin" id="dlCACert">
									<i class="fa fa-download"></i> CA Certificate
								</button>								
							</div>
							
						</div>						

					</section>
					<section class="col-lg-6">

						<div class="callout ">
							<h4 id="mainTip"></h4>
							<p id="mainSubTip"></p>
						</div>

						<div class="box ">
							<div class="box-body" th:insert="~{infratabs}"></div>
							<div class="box-footer">&nbsp;</div>
						</div>

					</section>


					<section class="col-lg-3">

						<div class="box">
							<div class="box-body">
								<ul class="products-list product-list-in-box">
									<li class="item">
										<div class="product-img">
											<img src="common/img/plugin-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Data
												Exchange <span style="width: 70px;" id="dxStatus" class="label label-default pull-right">ABSENT</span>
											</a> <span id="dxLabel" class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/postgres-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">PostgreSQL
												<span style="width: 70px;" id="postgreStatus" class="label label-default pull-right">RUNNING</span>
											</a> <span class="product-description">	&nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/ipfs-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">IPFS
												Peer<span style="width: 70px;" id="ipfsStatus" class="label label-danger pull-right">STOPED</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/besu-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">Besu
												Node <span style="width: 70px;" id="besuStatus" class="label label-danger pull-right">STOPED</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/plugin-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">FireFly
												Tokens <span style="width: 70px;" id="tokensStatus" class="label label-success pull-right">RUNNING</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/plugin-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">FireFly
												Signer <span style="width: 70px;" id="signerStatus" class="label label-success pull-right">RUNNING</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/plugin-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">FireFly
												EVM Connector <span style="width: 70px;" id="connectorStatus" class="label label-success pull-right">RUNNING</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/plugin-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">FireFly
												Sandbox <span style="width: 70px;" id="sandboxStatus" class="label label-success pull-right">RUNNING</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
									<li class="item">
										<div class="product-img">
											<img src="common/img/firefly-logo.jpg" alt="Icon">
										</div>
										<div class="product-info">
											<a href="javascript:void(0)" class="product-title">FireFly
												Core <span style="width: 70px;" id="coreStatus" class="label label-success pull-right">RUNNING</span>
											</a> <span class="product-description"> &nbsp; </span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>

		<aside class="control-sidebar control-sidebar-light"
			th:insert="~{controlsidebar}"></aside>
		<div class="control-sidebar-bg"></div>


		<!-- Main Footer -->

		<footer class="main-footer"
			style="height: 44px; padding: 0px 10px 0px 10px; background-color: #222d32;">

			<table id="tableFooter" style="width: 100%; cursor: pointer">
				<tr>
					<td>by Carlos Magno Abreu</td>

					<td style="width: 40px">Foo</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
				<tr>
					<td>magno.mabreu@gmail.com</td>
					<td style="width: 40px">Bar</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
			</table>
		</footer>


	</div>

	<!-- jQuery 3 -->
	<script src="adminlte/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script	src="adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="adminlte/dist/js/adminlte.min.js"></script>
	
	<script src="common/websocket/sockjs.min.js"></script>
	<script src="common/websocket/stomp.min.js"></script>
	<script src="common/script.js"></script>
	<script src="common/local.js"></script>
	
</body>

</html>

