
<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation"
	style="background-color: #222d32; color: white;">

	<a href="#" class="sidebar-toggle" data-toggle="push-menu"
		style="color: white" role="button"></a>

	<div class="container-fluid">

		<div class="navbar-header">
			<img id="logoMd2" src="/common/img/logo-yellow.png"
				style="height: 40px; float: left; margin-top: 5px; margin-left: 10px; margin-right: 10px;">
		</div>
		<div th:if="${systemReady}"
			style="padding-left: 10px; padding-top: 5px; height: 40px; float: left">
			<spam style="font-family:Courier New" th:text="${walletAddress}"></spam>
			<br />
			<spam style="font-family:Courier New" th:text="${walletBalance}"></spam>
		</div>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li><div th:if="${not systemReady}" style="padding: 15px;"
						title="Searching...">
						<i class="fa fa-refresh fa-spin text-white"></i>
					</div></li>
				<li><div th:if="${systemReady}" style="padding: 15px;"
						title="System Ready">
						<i id="readyIcon" class="fa fa-check-square text-green"></i>
					</div></li>
				<li><div th:if="${not systemReady}" style="padding: 15px;"
						title="System Error">
						<i id="readyIcon" class="fa fa-ban text-red"></i>
					</div></li>
				<!-- 	
							<li><a title="Configuration" href="#"
								style="color: white; border-left: 0px;"
								data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
							-->
			</ul>
		</div>


	</div>
</nav>